* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    width: 100vw;
    height: 100vh;

    background-image: url('img/bg.png');
    background-position: center;
    background-size: cover;
    background-color: #101010;
}

header {
    width: 100vw;
    height: 15vh;
    display: flex;
    align-items: center;
    
}

.logo {
    width: 30%;
    padding-left: 4rem;

    
}
.logo img {
    width: 50%;
}

nav {
    width: 70%;
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    display: flex;
    gap: 3rem;
    justify-content: center;
    
}

nav a {
    text-decoration: none;
    color: #fff;
}

main {
    width: 100vw;
    height: 85vh;
    display: flex;
    
}

.cta {
    width: 50%;
    color: #fff;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
}

.cta h1 {
    font-size: 4rem;
    padding-left: 4rem;
    padding-right: 4rem;
    
}

.cta p {
    padding-left: 4rem;
    padding-right: 12rem;
    line-height: 2rem;
}

.cta .inputs {
    padding-left: 4rem;
   
}

.cta .inputs a {
    color: chocolate;
    text-decoration: none;
    margin-right: 1rem;
    padding: 1rem 2rem;
    border-radius: 5rem;

    background-color: white;
}

.slider {
    width: 40%;

}

.slider img {
    width: 500px;
    height: 520px;
    margin-top: 1rem;
}

.legend {
   width: 400px;
   border-top-left-radius: 2rem;
   border-top-right-radius: 2rem;
   background-color: #fff;
   padding: 1.5rem 4rem;
   position: relative;
   z-index: 9;
   font-weight: 600;
   font-size: 0.8rem;
   opacity: 0.8;

   margin: -102px 0 0 50px;
}

.social-midia {
    width: 10%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 4rem;
}

.social-midia div {
    display: flex;
    flex-direction: column;
    gap: .2rem;
    margin-top: .2rem
}

.social-midia div img {
    width: 30px;
    height: 30px;
}

.social-midia p {
    position: absolute;
    font-weight: 700;
    color: #fff;
    transform: rotate(90deg) translateX(-160%);
   
}